html,
body {
  padding: 0;
  margin: 0;
    font-family: roc-grotesk,sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #e7f002;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
